.carousel {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
  background-color: #ccc;
  width: 100%;

  &__items {
    display: flex;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;

    & > li {
      flex: 0 0 100px;
      text-align: center;
    }
  }
}